<%= form_tag(create_message_path, method: "post") do %>
  <div class="input-wrap">
    <i class="far fa-user"></i>
    <%= label_tag(:name, 'Name') %>
    <%= text_field_tag :name, "", placeholder: 'name', class: 'input'  %>
  </div>
  <div class="input-wrap">
    <i class="far fa-envelope"></i>
    <%= label_tag(:email, 'Email') %>
    <%= email_field_tag :email, "", placeholder: 'email', class: 'input'%>
  </div>
  <div class="input-wrap">
    <i class="far fa-edit"></i>
    <%= label_tag(:body, 'Body') %>
    <%= text_area_tag :body, "", placeholder: 'body', class: 'input' %>
  </div> 
  <div>
    <%= submit_tag 'send', class: 'btn' %>
  </div>
<% end %>