<div class="content">
  <div class="header__pagination">
    <span class="pagination_stripe_top"></span>
    <span class="pagination">03</span>
    <span class="pagination_stripe_bottom"></span>
  </div>
  <div class="header__title">
      <h1 class='title-vertically'><%= t('qscar.index.about') %></h1>
      <h1 class='title-horizontally'><%= t('qscar.index.us') %></h1>
  </div>
  <!--<div class=title>
      <span><%= t('qscar.index.about_us') %></span>
  </div>-->
  <div class="content content_about first">
    <div class="text_content para_1">
      <%= t('qscar.about.explain_about_us_html') %>
    </div>
    <div class="content_img img_profile">
      <div class="cadre prfl_c">
        <%= image_tag "profil_picture.jpg", class: "picture_face" %>
      </div>
    </div>
  </div>
  <!--<div class="content content_about second">
    <div class="content_img img_profile">
      <div class="cadre prfl_d">
        <%= image_tag "dennis_picture.jpeg", class: "picture_face" %>
      </div>
    </div>
    <div class="text_content para_2">
      <%= t('qscar.about.explain_about_us_d_html') %>
    </div>
  </div>-->
</div>
