<div class=title>
    <span><%= t('about_us') %></span>
</div>
<div class="content content_about first">
  <div class="text_content para_1">
    <%= t('explain_about_us_html') %>
  </div>
  <div class="content_img img_profile">
    <div class="cadre">
      <%= image_tag "profil_picture.jpg", class: "picture_face" %>
    </div>
  </div>
</div>
<div class="content content_about second">
  <div class="content_img img_profile">
    <div class="cadre">
      <%= image_tag "picture-face-dennis.jpeg", class: "picture_face" %>
    </div>
  </div>
  <div class="text_content para_2">
    <span>
      <%= t('explain_about_us_d') %>
    </span>
  </div>
</div>
