<div class="header__pagination">
  <span class="pagination_stripe_top"></span>
  <span class="pagination">03</span>
  <span class="pagination_stripe_bottom"></span>
</div>
<div class='title-vertically'><h1 class='title__vrctl'><%= t('qscar.about.about') %></h1></div>
<div class='title-horizontally'><h1 class='title__hrtl'><%= t('qscar.about.us') %></h1></div>
<div class="content__text content_presentation">
  <div class="text_content">
    <h3><%= t('qscar.about.explain_about_us_title_html') %></h3>
    <p><%= t('qscar.about.explain_about_us_html') %></p>
  </div>
  <div class="content_img img_profile">
    <div class="cadre">
      <%= image_tag "Qscar_Cindy_Jacob_webdeveloper.png", class: "picture_face", data: "Cindy Jacob", alt: "Cindy Jacob web developer" %>
    </div>
  </div>
</div>
<%= render 'layouts/socialmedia' %>
