<div class="header__pagination">
	<span class="pagination_stripe_top"></span>
	<span class="pagination">04</span>
	<span class="pagination_stripe_bottom"></span>
</div>
<div class='title-vertically'><h1 class='title__vrctl'><%= t('qscar.contact.get_in') %></h1></div>
<div class='title-horizontally'><h1 class='title__hrtl'><%= t('qscar.contact.touch') %></h1></div>
<div class="content__text content__form">
  <div class="form new_message">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= render :template => 'messages/new' %>
  </div>
</div>
<%= render 'layouts/socialmedia' %>