<div class="container">
  <div class="wrapper">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <section class="home" id="home">
      <%= render template: 'qscar/home' %> 
    </section>
    <section class="our_project" id="our_project">
      <%= render template: 'qscar/project' %>
    </section>
    <section class="our_price" id="our_price">
      <%= render template: 'qscar/price' %>
    </section>
    <section class="about_us" id="about_us">
      <%= render template: 'qscar/about' %>
    </section>
    <section class="contact_us" id="contact_us">
      <%= render template: 'qscar/contact' %>
    </section>
  </div>
</div>

