<div class="header__pagination">
<span class="pagination_stripe_top"></span>
<span class="pagination">02</span>
<span class="pagination_stripe_bottom"></span>
</div>
<div class='title-vertically'><h1 class='title__vrctl'><%= t('qscar.price.our_different') %></h1></div>
<div class='title-horizontally'><h1 class='title__hrtl'><%= t('qscar.price.offers') %></div>
<div class="content__text content__category">
  <div class="card">
    <div class="card_header">
      <div class="img_header"></div>
      <div class="title_header"><span class="active" data-content="landing"><%= t('qscar.project.landing_option') %></span></div>
    </div>
    <div class="card_body">
      <p><%= t("qscar.project.explication_landing") %></p>
      <ul>
        <% t(:'qscar.project.list_choice_landing').each_line do |option| %>
          <li><span></span><%= option %></li>
        <% end %>
      </ul>
      <div class="price btn-price">
        <span><%= t('qscar.project.price_from') %> € 900 </span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card_header">
      <div class="img_header"></div>
      <div class="title_header"><span class="inactive" data-content="static_web"><%= t('qscar.project.static_option') %></span></div>
    </div>
    <div class="card_body">
      <p><%= t("qscar.project.explication_static") %></p>
      <ul>
        <% t(:'qscar.project.list_choice_static').each_line do |option| %>
          <li><span></span><%= option %></li>  
        <% end %> 
      </ul>
      <div class="price btn-price">
        <span><%= t('qscar.project.price_from') %> € 1800 </span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card_header">
      <div class="img_header"></div>
      <div class="title_header"><span class="inactive" data-content="dynamic_web"><%= t('qscar.project.dynamic_option') %></span></div>
    </div>
    <div class="card_body">
      <p><%= t("qscar.project.explication_dynamic") %></p>
      <ul>
        <% t(:'qscar.project.list_choice_dynamic').each_line do |option| %>
          <li><span></span><%= option %></li>
        <% end %>
      </ul>
      <div class="price btn-price">
        <span><%= t('qscar.project.price_from') %> € 3000 </span>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/socialmedia' %>
