<div class="header__pagination">
<span class="pagination_stripe_top"></span>
<span class="pagination">02</span>
<span class="pagination_stripe_bottom"></span>
</div>
<div class='title-vertically'><h1 class='title__vrctl'><%= t('qscar.price.our_different') %></h1></div>
<div class='title-horizontally'><h1 class='title__hrtl'><%= t('qscar.price.offers') %></div>
<div class="content__text content__category">
  <div class="inner_category">
    <div class="header_category">
      <div class="title_head landing"><span class="active" data-content="landing"><%= t('qscar.project.landing_option') %></span></div>
      <div class="title_head static_web"><span class="inactive" data-content="static_web"><%= t('qscar.project.static_option') %></span></div>
      <div class="title_head dynamic_web"><span class="inactive" data-content="dynamic_web"><%= t('qscar.project.dynamic_option') %></span></div>
    </div>
    <div class="content_category">
      <div class="innner_content_category">
        <div class="content_txt">
        </div>
      </div>
      <div class="innner_content_category hide" data-content="landing">
        <h5><%= t('qscar.project.landing_option') %></h5>
        <div class="inner_content">
          <div class="content_txt">
            <p><%= t("qscar.project.explication_landing") %></p>
            <ul>
              <% t(:'qscar.project.list_choice_landing').each_line do |option| %>
                <li><span></span><%= option %></li>
              <% end %>
            </ul>
          </div>
            <!--<div class="content_from">
              <div class="price btn-price">
                <span><%= t('qscar.project.price_from') %> € 900 </span>
              </div>
            </div>-->
          </div>
        </div>
        <div class="innner_content_category hide" data-content="static_web">
          <h5><%= t('qscar.project.static_option') %></h5>
          <div class="inner_content">
            <div class="content_txt">
              <p><%= t("qscar.project.explication_static") %></p>
              <ul>
                <% t(:'qscar.project.list_choice_static').each_line do |option| %>
                  <li><span></span><%= option %></li>  
                <% end %> 
              </ul>
            </div>
            <!--<div class="content_from">
              <div class="price btn-price">
                <span><%= t('qscar.project.price_from') %> € 1800 </span>
              </div>
            </div>-->
          </div>
        </div>
        <div class="innner_content_category hide" id="dynamic_web" data-content="dynamic_web">
          <h5><%= t('qscar.project.dynamic_option') %></h5>
          <div class="inner_content">
            <div class="content_txt">
              <p><%= t("qscar.project.explication_dynamic") %></p>
              <ul>
                <% t(:'qscar.project.list_choice_dynamic').each_line do |option| %>
                  <li><span></span><%= option %></li>
                <% end %>
              </ul>
            </div>
            <!--<div class="content_from">
              <div class="price btn-price">
                <span><%= t('qscar.project.price_from') %> € 3000 </span>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!--<div class="discover_more">
      <p><%= t('qscar.project.custom_made') %></p>
      <span class="btn">
        <%= link_to t('qscar.project.discover_more'), projects_index_path %>
      </span>
    </div>-->
</div>

<div class="header_bottom">
<ul class="social_media">
    <li class="social_media_link"><a href="https://www.linkedin.com/company/qscar"><i class="fab fa-linkedin"></i></a></li>
    <li class="social_media_link"><a href="https://www.twitter.com/QscarDigital"><i class="fab fa-twitter-square"></i></a></li>
    <li class="social_media_link"><a href="https://www.facebook.com/QscarDigital"><i class="fab fa-facebook"></i></a></li>
    <li class="social_media_link"><a href="https://www.instagram.com/qscar_digital/"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>
