<div class=title>
  <span><%= t('what_we_do') %></span>
</div>
<div class="content">
  <div class="text_content para_2">
    <span>
      <%= t('explain_our_project') %>
    </span>
  </div>
  <div class="check-done">
    <ul>
      <li><%= t('accompagnement') %></li>
      <li><%= t('advice') %></li>
      <li><%= t('site_vitrine') %></li>
      <li><%= t('landing-page') %></li>
      <li><%= t('hebergement') %></li>
    </ul>
  </div>
  <div class="content_img grid_img">
    <div class="img img_one">
    </div>
    <div class="img img_two">
    </div>
    <div class="img img_three">
    </div>
  </div>
</div>