<div class="header__pagination">
  <span class="pagination_stripe_top"></span>
  <span class="pagination">01</span>
  <span class="pagination_stripe_bottom"></span>
</div>
<div class='title-vertically'><h1 class='title__vrctl'><%= t('qscar.index.what_we') %></h1></div>
<div class='title-horizontally'><h1 class='title__hrtl'><%= t('qscar.index.do') %></h1></div>
<div class="content__text content__project">
  <div class="icon">
    <!--<div class="explain_icon">
      <p><%= t('qscar.project.explain_icon') %></p>
    </div>-->
  </div>
  <div class='qscar-services show reveal'>
    <div class='qscar-services-pagination'>
      <a class='dot active'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
    </div>
    <div class='qscar-services-body'>
      <ul class='screens animate'>
        <li class='screen active'>
          <div class='media logo'> 
            <%= render 'qscar/svg/webDev' %>
          </div>
          <h3>
            <%= t('qscar.project.web_design') %>
            <br><%= t('qscar.project.identite_visuelle') %></br>
          </h3>
          <p><%= t('qscar.project.strategie') %></p>
        </li>
        <li class='screen'>
          <div class='media books'> 
            <%= render 'qscar/svg/webDev' %>
          </div>
          <h3>
            <%= t('qscar.project.web_dev') %>
            <br><%= t('qscar.project.web_mobile') %></br>
          </h3>
          <p><%= t('qscar.project.creativity') %></p>
        </li>
        <li class='screen'>
          <div class='media bars'>
            <%= render 'qscar/svg/creativity' %> 
          </div>
          <h3>
            <%= t('qscar.project.web_dev') %>
            <br><%= t('qscar.project.web_dev') %></br>
          </h3>
          <p><%= t('qscar.project.creativity') %></p>
        </li>
        <li class='screen'>
          <div class='media files'>
            <%= render 'qscar/svg/advice' %> 
          </div>
          <h3>
          <%= t('qscar.project.web_dev') %>
            <br><%= t('qscar.project.web_dev') %></br>
          </h3>
          <p><%= t('qscar.project.advice') %></p>
        </li>
        <li class='screen'>
          <div class='media comm'>
            <%= render 'qscar/svg/conception' %> 
          </div>
          <h3>
            <%= t('qscar.project.web_dev') %>
            <br><%= t('qscar.project.web_dev') %></br>
          </h3>
          <p><%= t('qscar.project.conception_realisation') %></p>
        </li>
        <li class='screen'>
          <div class='media comm'>
            <%= render 'qscar/svg/conception' %> 
          </div>
          <h3>
            <%= t('qscar.project.web_dev') %>
            <br><%= t('qscar.project.web_dev') %></br>
          </h3>
          <p><%= t('qscar.project.hebergement') %></p>
        </li>
      </ul>
      <button class='prev-screen'>
        <i class="fas fa-angle-left"></i>
      </button>
      <button class='next-screen'>
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="header_bottom">
  <ul class="social_media">
    <li class="social_media_link"><a href=""><i class="fab fa-linkedin"></i></a></li>
    <li class="social_media_link"><a href="https://twitter.com/QscarDigital"><i class="fab fa-twitter-square"></i></a></li>
    <li class="social_media_link"><a href="https://www.instagram.com/qscar_digital/"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>
