<div class=title>
  <span><%= t('what_we_do') %></span>
</div>
<div class="content">
 <div class="text_content para_2">
    <span>
      <%= t('explain_our_project') %>
    </span>
  </div>
  <div class="icon">
    <div class="inner_icon">
      <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
        <switch><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1"/>
          <g i:extraneous="self"><g>
            <path class="website" d="M22.33,51.49H11.56c-1.05,0-1.9,0.83-1.9,1.86v18.06c0,1.03,0.85,1.87,1.9,1.87h10.77c1.05,0,1.9-0.84,1.9-1.87V53.35     C24.23,52.32,23.38,51.49,22.33,51.49z M23.23,71.41c0,0.48-0.4,0.87-0.9,0.87H11.56c-0.5,0-0.9-0.39-0.9-0.87V53.35     c0-0.47,0.4-0.86,0.9-0.86h10.77c0.5,0,0.9,0.39,0.9,0.86V71.41z"/>
          </g>
            <path class="website" d="M89.78,21.1H27.1c-1.18,0-2.14,0.96-2.14,2.14v16.31H20.5c-1.81,0-3.28,1.36-3.28,3.03v6.26h-6.91    c-1.23,0-2.23,1.08-2.23,2.41v25.24c0,1.33,1,2.41,2.23,2.41h65.37c1.03,0,1.87-0.71,1.87-1.59c0-0.88-0.84-1.6-1.87-1.6h-9.34    v-7.07h23.44c1.18,0,2.14-0.96,2.14-2.14V23.24C91.92,22.06,90.96,21.1,89.78,21.1z M24.84,76.49c0,0.78-0.56,1.41-1.24,1.41    H10.31c-0.68,0-1.23-0.63-1.23-1.41V51.25c0-0.78,0.55-1.41,1.23-1.41H23.6c0.68,0,1.24,0.63,1.24,1.41V76.49z M23.6,48.84h-3.39    V46.3c0-0.75,0.84-1.36,1.86-1.36h18.15c1.01,0,1.86,0.62,1.86,1.36v24.56c0,0.73-0.85,1.36-1.86,1.36H25.84V51.25    C25.84,49.92,24.83,48.84,23.6,48.84z M44.07,75.98c0,1.09-0.98,1.92-2.28,1.92H25.42c0.26-0.4,0.42-0.89,0.42-1.41v-3.27h14.38    c1.58,0,2.86-1.06,2.86-2.36V46.3c0-1.3-1.28-2.36-2.86-2.36H22.07c-1.58,0-2.86,1.06-2.86,2.36v2.54h-0.99v-6.26    c0-1.12,1.02-2.03,2.28-2.03h21.29c1.26,0,2.28,0.91,2.28,2.03V75.98z M41.79,39.55H28.6V24.81h59.67v40.13h-43.2V42.58    C45.07,40.91,43.6,39.55,41.79,39.55z M45.07,68.64h5.51v7.07h-5.51V68.64z M90.92,66.5c0,0.63-0.51,1.14-1.14,1.14H65.34v9.07    h10.34c0.47,0,0.87,0.28,0.87,0.6c0,0.32-0.41,0.59-0.87,0.59h-31.4c0.33-0.34,0.57-0.74,0.68-1.19h6.62v-9.07h-6.51v-1.7h44.2    V23.81H27.6v15.74h-1.64V23.24c0-0.62,0.51-1.14,1.14-1.14h62.68c0.63,0,1.14,0.52,1.14,1.14V66.5z"/>
            <path class="website" d="M31.15,73.63c-1.04,0-1.88,0.85-1.88,1.88c0,1.04,0.84,1.88,1.88,1.88c1.03,0,1.87-0.84,1.87-1.88    C33.02,74.48,32.18,73.63,31.15,73.63z M31.15,76.39c-0.49,0-0.88-0.39-0.88-0.88c0-0.48,0.39-0.88,0.88-0.88    c0.48,0,0.87,0.4,0.87,0.88C32.02,76,31.63,76.39,31.15,76.39z"/>
            <path class="website" d="M33.59,42.16c0,0.28-0.23,0.5-0.5,0.5h-3.88c-0.28,0-0.5-0.22-0.5-0.5c0-0.28,0.22-0.5,0.5-0.5h3.88    C33.36,41.66,33.59,41.88,33.59,42.16z"/>
            <path class="website" d="M16.94,73.89c-0.93,0-1.69,0.76-1.69,1.7c0,0.93,0.76,1.7,1.69,1.7c0.94,0,1.7-0.77,1.7-1.7    C18.64,74.65,17.88,73.89,16.94,73.89z M16.94,76.29c-0.38,0-0.69-0.32-0.69-0.7c0-0.39,0.31-0.7,0.69-0.7    c0.39,0,0.7,0.31,0.7,0.7C17.64,75.97,17.33,76.29,16.94,76.29z"/>
          </g>
        </switch>
      </svg>
      <div class="explain_icon">
        <p><%= t('explain_icon') %></p>
        <p><%= t('explain_icon_two') %></p>
      </div>
    </div>
  </div>
  <div class="check-done">
    <ul>
      <li>
        <div class="tag"><%= t('accompagnement') %></div>
      </li>
      <li>
        <div class="tag"><%= t('advice') %></div>
      </li>
      <li>
        <div class="tag"><%= t('site_vitrine') %></div>
      </li>
      <li>
        <div class="tag"><%= t('landing-page') %></div>
      </li>
      <li>
        <div class="tag"><%= t('hebergement') %></div>
      </li>
    </ul>
  </div>
  <div class="category">
    <div class="inner_category">
      <div class="header_category">
        <div class="title_head landing"><a data-content="landing" href="#landing" class="btn-click"><%= t('landing_option') %></a></div>
        <div class="title_head static_web"><a data-content="static_web" href="#static_web" class="btn-click"><%= t('static_option') %></a></div>
        <div class="title_head dynamic_web"><a data-content="dynamic_web" href="#dynamic_web" class="btn-click"><%= t('dynamic_option') %></a></div>
      </div>
      <div class="content_category">
        <div class="innner_content_category">
          <div class="content_txt">
          </div>
        </div>
        <div class="innner_content_category hide" id="landing" data-content="landing">
          <h5><%= t('landing_option') %></h5>
          <div class="content_txt">
            <p><%= t("explication_landing") %></p>
            <ul>
              <% t(:'list_choice_landing').each_line do |option| %>
                <li><%= option %></li>
              <% end %>
            </ul>
          </div>
          <div class="content_img"></div>
        </div>
        <div class="innner_content_category hide" id="static_web" data-content="static_web">
          <h5><%= t('static_option') %></h5>
          <div class="content_txt">
            <p><%= t("explication_static") %></p>
            <ul>
                <% t(:'list_choice_static').each_line do |option| %>
                  <li><%= option %></li>  
                <% end %> 
            </ul>
          </div>
          <div class="content_img"></div>
        </div>
        <div class="innner_content_category hide" id="dynamic_web" data-content="dynamic_web">
          <h5><%= t('dynamic_option') %></h5>
          <div class="content_txt">
            <p><%= t("explication_dynamic") %></p>
            <ul>
              <% t(:'list_choice_dynamic').each_line do |option| %>
                <li><%= option %></li>
              <% end %>
            </ul>
          </div>
          <div class="content_img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover_more">
    <span class="btn">
      <%= link_to t('discover_more'), projects_index_path %>
    </span>
  </div>
</div>