<div class='container'>
  <div class='section'>
    <div class=title>
      <span><%= t('our_differents_projects') %></span>
    </div>
    <div class="content">
      <div id="portfolio" class='grid'>
        <div class="grid__item">
          <div class="content photo-content eurokeys"></div>
          <% @projects.each do |p| %>
            <h2><%= p.name %></h2>
            <div class="slide">
              <h4><%= t('our_client') %><span><%= p.name %></span></h4>
              <h5><%= p.description %></h5>
              <h6><%= link_to p.url %></h6>
              <h5><%= t('technologies') %>: </h5>
                <% p.technos.each do |techno| %>
                  <h6><%= techno.name %></h6>
                <% end %>
            </div>
          <% end %>
        </div>  
      </div>
    </div>
  </div>
</div>


