<div class="header">
  <div class="header_logo">
      <%= link_to "Qscar", root_path%>
    </div>
  <div class="inner_header">
    <div class="header_menu">
      <ul>
        <li class="section_link">
          <%= link_to t('what_we_do'), qscar_index_path(anchor: 'our_project') %>
          </li>
        <li class="section_link">
          <%= link_to t('about_us'), qscar_index_path(anchor: 'about_us') %>
        </li>
        <li class="section_link">
          <%= link_to t('contact_us'), qscar_index_path(anchor: 'contact_us') %>
        </li>
        <li>
          <div class="language">
            <%= link_to t('EN'), locale: "en" %>
            <%= link_to t('FR'), locale: "fr" %>
            <%= link_to t('NL'), locale: "nl"%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

