<div class="header">
  <div class="navbar nav-menu">
    <nav>
      <div class="navbar__logo">
        <%= link_to "Qscar", root_path%>
      </div>
      <ul class='navbar__links'>
        <li class="section_link">
          <%= link_to t('qscar.index.what_we_do'), qscar_index_path(anchor: 'our_project') %>
        </li>
        <li class="section_link">
          <%= link_to t('qscar.index.price'), qscar_index_path(anchor: 'our_price') %>
        </li>
        <li class="section_link">
          <%= link_to t('qscar.index.about_us'), qscar_index_path(anchor: 'about_us') %>
        </li>
        <li class="section_link">
          <%= link_to t('qscar.index.contact_us'), qscar_index_path(anchor: 'contact_us') %>
        </li>
        <li>
          <div class="language">
            <%= link_to t('qscar.index.EN'), locale: "en" %>
            <%= link_to t('qscar.index.FR'), locale: "fr" %>
            <%= link_to t('qscar.index.NL'), locale: "nl"%>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header_presentation">
    <div class="header__pagination">
      <span class="pagination_stripe_top"></span>
      <span class="pagination">00</span>
      <span class="pagination_stripe_bottom"></span>
    </div>
    <div class="header__title">
      <h1 class='title-vertically'>Qscar</h1>
      <h1 class='title-horizontally'>Digital</h1>
    </div>
    <div class='header__text'>
        <p>"<%= t('qscar.index.text_presentation') %>"<p>
    </div>
    <div class='header__animation'>
      <div class='header__img_right'>
        <div class="header__inner_img"></div>      
      </div>
    </div>
    <!--<div class="header__draw_panel">
      <svg width="100%" height="100%" xml:lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://wwww.w3.org/1999/xlink">
        <title>line header qscar</title>
        <desc>animate lines header Qscar digital header</desc>
        <polyline class="line_svg line_one" points="280,10 100,610 80,450 "
          style="fill:none; stroke:#f3784c; stroke-width:4px; " />
        <line class="line_svg line_two" x1="300" x2="30" y1="10" y2="610"
          style="fill:none; stroke:#D8C3A5; stroke-width:4px; " />
        <line class="line_svg line_three" x1="320" x2="50" y1="10" y2="610"
          style="fill:none; stroke:#8E8D8A; stroke-width:4px; " />
      </svg>
    </div>-->
  </div>
  <div class="header_bottom">
  <!--<div class="bullet__one"></div>
    <div class="bullet__two"></div>
    <div class="bullet__three">-->
    <ul class="social_media">
      <li class="social_media_link"><a href=""><i class="fab fa-linkedin"></i></a></li>
      <li class="social_media_link"><a href="https://twitter.com/QscarDigital"><i class="fab fa-twitter-square"></i></a></li>
      <li class="social_media_link"><a href="https://www.instagram.com/qscar_digital/"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</div>

